@charset 'utf-8';@charset 'utf-8';html,
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,
p,blockquote,th,td,iframe,button,input,select,textarea
{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,button,input,select,textarea
{
    font-size: 100%;
}li,ul,ol,dl,dd,dt,iframe
{
    list-style: none;
    list-style-type: none;
    text-indent: 0;
}
header,footer,section,article,nav
{
    display: block;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu
{
    display: block;
}address,
caption,
cite,
code,
dfn,
em,
th,
var,
i
{
    font-weight: 400;
    font-style: normal;
}table
{
    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;
}fieldset,
img
{
    border: 0;
}
caption,th,div
{
    text-align: left;
}
q:before,
q:after,
blockquote:before,
blockquote:after
{
    content: '';
}
button,input,select,textarea
{
    vertical-align: middle;
    outline: none;
}textarea
{
    overflow: auto;
    resize: none;
    vertical-align: top;
}input,
select,
textarea,
body
{
font: 12px 'Microsoft YaHei','微软雅黑',;
}
a{
    color: #fff;
    text-decoration:blink;
}
a:hover{
    color: inherit;
}
