

.section1 { background: url(../images/1.png) 50% no-repeat;}
.section2 { background: url(../images/2.png) 50% no-repeat;}
.section3 { background: url(../images/3.png) 50% no-repeat;}
.section4 {background: url(../images/4.png) 50% no-repeat;}
.section5 {background: url(../images/5.png) 50% no-repeat;}
.section6 {background: #e9e9e9;}
.section {background-size: cover;}
.section1,.section2,.section3,.section4{
    padding-bottom: 10px;
}

#menu-box{
    width: 100%;
    position: fixed;
    height: 56px;
    top:56px;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: 999;
}
#menu-box li {
    float: left;
    margin-left: 30px;

}
#menu-box .title{
    line-height: 56px;
    height: 56px;
    font-size: 16px;
    color: #020202;
}
#menu{
    width: 690px;
    /*width: 720px;*/
    padding-top: 12px;
    height: 30px;
    line-height: 30px;
}
#menu li a{
    font-size: 16px;
    color: #4a4a4a;
}
#menu .active a{
    color: #4980e6;

}
.section1-img{
    width:1200px;
    height: 100%;
    position: relative;
    margin: auto;
}
.section1-img .img{
    position: absolute;
    width: 400px;
    height: 100%;
    background: url(../images/section1-img.png) center no-repeat;
    background-size:contain;
    left: -120%;
}
.section1-img .img1{
    position: absolute;
    width: 400px;
    height: 100%;
    background: url(../images/section1-img02.png) center no-repeat;
    background-size:contain;
    right: -120%;
}
.section1-img .img2{
    position: absolute;
    width: 400px;
    height: 100%;
    background: url(../images/section1-img03.png) center no-repeat;
    background-size:contain;
    right: -120%;
}
.section2-img{
    width:1200px;
    height: 100%;
    position: relative;
    margin: auto;
}
.section2-img .img{
    position: absolute;
    top: 120%;
    width: 1200px;
    height: 100%;
    background: url(../images/section2-img.png) center no-repeat;
    background-size:contain;
    left: 50%;
    margin-left: -600px;
}
.section2-img .img img{
    width: 100%;
}
.section3-img{
    width:1200px;
    height: 100%;
    position: relative;
    margin: auto;
}
.section3-img .img1{
    position: absolute;
    top: 0;
    left: -120%;
    width:660px;
    height: 100%;
    background: url(../images/section3-img2.png) center no-repeat;
    background-size:contain;
}
.section3-img .img2{
    position: absolute;
    top: 0;
    right: -120%;
    width: 470px;
    height: 100%;
    background: url(../images/section3-img1.png) center no-repeat;
    background-size:contain;
}
.section3-img .img img{
    width: 100%;
}
.section4-img{
    position: relative;
    width:1200px;
    height: 100%;
    margin: auto;
}
.section4-img .img1{
    position: absolute;
    width: 800px;
    left: -120%;
    height: 100%;
    margin: 0 auto;
    background: url(../images/section4-img1.png) center no-repeat;
    background-size:contain;
}
.section4-img .img2{
    position: absolute;
    right: -120%;
    width: 260px;
    height: 100%;
    margin: 0 auto;
    background: url(../images/section4-img2.png) center no-repeat;
    background-size:contain;
}
.section4-img .img img{
    width: 100%;
}
.section5-img{
    position: relative;
    width:1200px;
    height: 100%;
    margin: auto;
}
.section5-img .title{
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    padding: 2% 0;
}
.section5-img .img1{
    width: 540px;
    background: rgba(255, 255, 255, 0.7);
    height: auto;
    padding: 20px;
}
.section5-img .img1 h3{
    font-size: 18px;
    color:#0769ad;
    padding: 5px 0;
    font-weight: 500;
}
.section5-img .img1 .btn{
    margin-top: 20px;
}
.section5-img .img1 .btn a{
    display: inline-block;
    width: 49%;
    line-height: 28px;
    color: #fff;
    background: #0769ad;
    margin: 0 1% 0 0;
    padding: 0;
    float: left;
    text-align: center;
}
.img1 .details{
    width: 360px;
}
.img1 .details .intro{
    font-size: 16px;
    line-height: 32px;
    color:#4e4e4e;
    height: 160px;
}
#rome{
    margin-top: 20px;
    text-align: center;
}
#rome a{
 display: inline-block;
 width: 120px;
 height: 30px;
 line-height: 30px;
 border-radius: 15px;
 font-size: 16px;
 text-align: center;
 color: #0769ad;
 background: #fff;
}
.img1 .details .time{
    color: #999999;
    font-size: 14px;
}
.partner-box{
    margin-top: 10px;
    margin-bottom: 20px;
}
.partner-box h2{
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
    font-weight: 500;
}
.partner-list{
    width: 1160px;
    margin: 0 auto;
}
.partner-list li{
    float: left;
    width: 289px;
    overflow: hidden;
}
.partner-list .pos-r{
    position: relative;
    width: 289px;
    height: 160px;
    overflow: hidden;
}
.partner-list .pos-r p{
    position: absolute;
    bottom: -160px;
    height: 124px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    color: #fff;
    padding: 18px;
    line-height: 24px;
}
.partner-list .pos-r:hover p{
    bottom: 0;
    transition: bottom .4s ease;
}
.partner-list .title{
    font-size: 16px;
    padding: 14px 0;
    text-align: center;
}
.w100{
    width: 100%;
}
.service-box{
    margin-bottom: 40px;
}



