@media only screen and (min-width: 200px) and (max-width: 399px) {
  #header .main{
    width: 100%;
  }
  #header .nav{
    display: none;
  }
  #menu-box .title{
        width: 100%;
        float: right;
        font-size: 12px;
      }
  #menu-box .main{
    width: 100%;
  }
  #menu{
    display: none;
  }
  .section1-img,.section2-img,.section3-img,.section4-img,.section5-img{
    width: 100%;
  }
  .section1-img .img{
    width: 80%;
    border-radius: 5px;
    background-color:rgba(104, 178, 218, 0.8);
    background-size: 96%;
    height: 35%;
    margin-top: 30%;
    z-index: 999;
  }
  .section1-img .img1{
    width: 50%;
    background-size: 96%;
    height: 100%;
    z-index: 9;
    right: 50% !important;
  }
  .section1-img .img2{
    width: 50%;
    background-size: 96%;
    height: 100%;
    z-index: 9;
  }
  .section2-img .img {
    top: 0px;
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }
  .section3-img .img1 {
    top: 0px;
    width: 50%;
    left: 0px;
    z-index: 99;
  }
  .section3-img .img2 {
    top: 0px;
    width: 50%;
    right: 0px;
    z-index: 9;
  }
  .section4-img .img1 {
    top: 0px;
    width: 50%;
    left: 0px;
    z-index: 99;
  }
  .section4-img .img2 {
    top: 0px;
    width: 50%;
    right: 0px;
    z-index: 9;
  }
  .section5-img .img1{
    background: rgb(255, 255, 255);
    height: auto;
    float: none;
    width: 90%;
    padding: 20px 1%;
    margin-bottom: 10px;
    margin: 0 auto 10px auto;
  }
  .section5-img .img1 .details{
    width: 100%;
  }
  .img1 .details .intro{
    height: auto;
  }
  .partner-box,.partner-list{
    width: 100% !important;
  }
  .partner-list li{
    width: 48%;
    margin: 10px 0.5%;
    background-color: #E9E9E9;
  }
  .partner-list .pos-r{
    width: 100%;
    height: auto;
  }
  .partner-list .pos-r img{
    max-width: 100%;
  }
  .partner-list .pos-r  p{
    padding: 0 3px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    position: initial;
    margin-top: -3px;
    background-color: rgba(35, 27, 26, 0.79);
    min-height: 140px;
  }
  .service-box{
    width: 100%;
  }
  .service-box img{
    max-width: 100%;
  }
  .bottom-nav {
        width: 100%;
    }
    .bottom-nav li{
        width: 100%;
    }
    .bottom-nav li h3{
        border-bottom: #ddd solid 1px;
        padding-left: 6px;
    }
    .bottom-nav li a{
        width: auto;
        display: inline-block;
        padding: 4px 6px;
    }
    #onlineservice{
        display: none;
    }
}
@media only screen and (min-width: 400px) and (max-width: 720px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  #menu-box .main{
    width: 100%;
  }
  #menu-box .title{
    width: 100%;
    float: right;
  }
  #menu{
    display: none;
  }
  .section1-img,.section2-img,.section3-img,.section4-img,.section5-img{
    width: 100%;
  }
  .section1-img .img{
    width: 80%;
    border-radius: 5px;
    background-color:rgba(104, 178, 218, 0.8);
    background-size: 96%;
    height: 35%;
    margin-top: 30%;
    z-index: 999;
  }
  .section1-img .img1{
    width: 50%;
    background-size: 96%;
    height: 100%;
    z-index: 9;
    right: 50% !important;
  }
  .section1-img .img2{
    width: 50%;
    background-size: 96%;
    height: 100%;
    z-index: 9;
  }
  .section2-img .img {
    top: 0px;
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }
  .section3-img .img1 {
    top: 0px;
    width: 50%;
    left: 0px;
    z-index: 99;
  }
  .section3-img .img2 {
    top: 0px;
    width: 50%;
    right: 0px;
    z-index: 9;
  }
  .section4-img .img1 {
    top: 0px;
    width: 50%;
    left: 0px;
    z-index: 99;
  }
  .section4-img .img2 {
    top: 0px;
    width: 50%;
    right: 0px;
    z-index: 9;
  }
  .section5-img .l-float .img{
    background: rgb(255, 255, 255);
    height: auto;
    padding: 20px;
    float: left;
    width: 98%;
    padding: 20px 1%;
    margin-bottom: 10px;
  }
  .partner-box,.partner-list{
    width: 100% !important;
  }
  .partner-list li{
    width: 48%;
    margin: 10px 0.5%;
    background-color: #E9E9E9;
  }
  .partner-list .pos-r{
    width: 100%;
    height: auto;
  }
  .partner-list .pos-r img{
    max-width: 100%;
  }
  .partner-list .pos-r  p{
    padding: 0 3px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    position: initial;
    margin-top: -3px;
    background-color: rgba(35, 27, 26, 0.79);
    min-height: 120px;
  }
  .service-box{
    width: 100%;
  }
  .service-box img{
    max-width: 100%;
  }
  .bottom-nav {
        width: 100%;
    }
    .bottom-nav li{
        width: 100%;
    }
    .bottom-nav li h3{
        border-bottom: #ddd solid 1px;
        padding-left: 6px;
    }
    .bottom-nav li a{
        width: auto;
        display: inline-block;
        padding: 4px 6px;
    }
    #onlineservice{
        display: none;
    }

}